<!doctype html>
<html lang="en">
<head>
    <title>Main Page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <header style="text-align: center;">
        <h1>
            HEADER
        </h1>
    </header>
    <section>
        <form method="post" action="/logout">
            <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
            <input type="submit" value="Sign Out">
        </form>
    </section>
    <section>
        <form method="post">
            <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
            <input type="text" name="text" placeholder="Enter messages">
            <input type="text" name="tag" placeholder="Tag">
            <button type="submit">Adding</button>
        </form>
    </section>
    <section>
        <form method="post" action="filter">
            <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
            <input type="text" name="filter">
            <button type="submit">Search</button>
        </form>
    </section>
    <section>
        <h3>
            List of messages
        </h3>
        {{#messages}}
            <div>
                <b>{{id}}</b>
                <span>{{text}}</span>
                <i>{{tag}}</i>
                <strong>{{authorName}}</strong>
            </div>
        {{/messages}}
    </section>
    <footer style="text-align: center;">
        <h3>
            FOOTER
        </h3>
    </footer>
</body>
</html>